*{
  box-sizing: border-box;
}

@media (min-width: 1200px) {
 .contenedor{
   width: 1140px;
 }
}

.nombre {
  display:inline;
}

.tabla_datos{
  padding-top: 4%;
  font-size: 120%
}

.interact{
  align-items: center;
  text-align: center;
}
.cuerpo {
   background: #8cf3bd;
}
.contenedor{

  font-family: 'Josefin Sans', 'Poppins', sans-serif;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.tarjeta {
  padding: 12px;
  text-align: left;
  background: #52B6CB;
  display: flex;
  margin: 10px 0 10px;
  border-radius: 25px;
  border-style: solid;
  border-color: #fff;
  width: 70%;
  flex-grow: 1;

}

.tarjeta:hover > .recuadro >img{
  transition: transform 0.5s;
  transform: rotateY(180deg);

}

.todos:hover ~ .tarjeta > .recuadro >img{
  transition: transform 0.5s;
  transform: rotateY(180deg);

}

.tarjeta:hover > .fas{
  visibility: visible;
}

.todos:hover ~ .tarjeta > .fas{
  visibility: visible;
}

.tarjeta .recuadro{
  position: relative;
  border-right: dashed #fff;
}

.tarjeta :nth-child(1){
width:  30%;
}
.tarjeta :nth-child(2){
width: 70%;
}
.tarjeta .recuadro>img{
  position: absolute;
  width: 65%;
  border-radius: 100px;
  top: 10%;
  left: 10%;
}

.tarjeta .informacion {
  padding-top: 1%;
  text-align: justify;
  margin-left: 10px;
  width: 70%;
}

.fas{
  background: white;
  color: green;
  border-radius: 100px;
  align-items: center;
  margin-top: 20%;
  visibility: hidden;
}

